
.header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  background-color: #1b2134;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Added transition effect */
}

.header-button:hover {
  background-color: #1f8ae0; /* Updated hover background color */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

/* Rest of the code remains the same */

.features {
  margin-top: 40px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.feature-box {
  background-color: #111;
  color: #fff;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: slide 20s infinite linear;
  border-radius: 10px;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-320px * 4));
  }
}
